<footer class="footer-version">
  <div class="footer-content">
    <div class="grid">
      <!-- Logo y Slogan a la izquierda -->
      <div class="col-12 md:col-12 lg:col-2 xl:col-2 footer-logo-col">
        <div class="footer-logo-wrapper">
          <img 
            src="assets/images/logo-gore-footer-blanco.png" 
            alt="Gobierno Regional del Maule" 
            class="footer-logo-gore">
        </div>
      </div>
      
      <!-- Columna 1: Información Institucional -->
      <div class="col-12 md:col-6 lg:col-2 xl:col-2 footer-column">
        <h6 class="footer-title">Gobierno Regional del Maule</h6>
        <div class="footer-info-item">
          <p class="footer-text">Talca, Región del Maule</p>
        </div>
        <div class="footer-info-item">
          <p class="footer-text footer-text-last">1 Norte N°711</p>
        </div>
      </div>
      
      <!-- Columna 2: Ayuda -->
      <div class="col-12 md:col-6 lg:col-2 xl:col-2 footer-column">
        <h6 class="footer-title">Ayuda</h6>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a routerLink="/preguntas-frecuentes" class="footer-link">Preguntas Frecuentes</a>
          </li>
          <li class="footer-list-item">
            <a href="#" class="footer-link">Términos y Condiciones</a>
          </li>
        </ul>
      </div>
      
      <!-- Columna 3: Horarios -->
      <div class="col-12 md:col-6 lg:col-3 xl:col-3 footer-column">
        <h6 class="footer-title">Nuestros horarios</h6>
        <div class="footer-info-item">
          <p class="footer-text">Lunes a Jueves de 08:30 a 17:30 hrs.</p>
        </div>
        <div class="footer-info-item">
          <p class="footer-text footer-text-last">Viernes de 08:30 a 16:30 hrs.</p>
        </div>
      </div>
      
      <!-- Columna 4: Contáctanos -->
      <div class="col-12 md:col-6 lg:col-3 xl:col-3 footer-column">
        <h6 class="footer-title">Contáctanos</h6>
        <ul class="footer-list">
          <li class="footer-list-item">
            <a href="tel:+56900000000" class="footer-link">+56 9 0000 0000</a>
          </li>
          <li class="footer-list-item">
            <a href="tel:+56900000000" class="footer-link">+56 9 0000 0000</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  
  <!-- Línea roja inferior -->
  <div class="footer-red-line"></div>
</footer>
